__pycache__/
*.pyc
/work/
/src/work/
.venv/
venv/
env/
.secrets/*
.env.local
/products/*
products/*
resources/mappings/laptop-test_no_empty_filters.csv
resources/mappings/full_catalog_with_filters.csv